@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 1px solid;
    font-family: 'Bitter', serif;
}

body {
    background: #fff;
}

@import "header";
@import "main";
@import "footer";
@import "responsive";